@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing: border-box;
}

body {
    background-color: #f2ebe3;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 40%;
    height: 41rem;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: 800px;
}

img {
    width: 50%;
    height: 41rem;
    display: flex;
    justify-content: start;
    border-radius: 15px 0 0 15px;
}

.text-contain {
    width: 45%;
    height: 41rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.uppercase {
    text-transform: uppercase;
}

h1 {
    font-family: Fraunces;
    font-size: 2.5rem;
}

p:first-of-type {
    letter-spacing: 5px;
    margin: 15% 0 0 0;
}

p {
    font-family: Montserrat;
    color: #6c7289;
    line-height: 28px;
}

p:last-of-type {
    color: #3c8067;
    font-family: Fraunces;
    font-size: 2rem;
    font-weight: 700;
}

button {
    background-color: #3c8067;
    border-radius: 10px;
    height: 65px;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 90%;

}

button:hover {
    transition: 0.5s;
    background-color: #2b5a49fd;
}

span {
    color: #6c7289;
    font-size: 1rem;
    margin-left: 10%;
    text-decoration: line-through;
}

.cart {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.price {
    margin-left: 1rem;
}